@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
   /* border: dashed 2px red; */
    font-family: 'Lato', sans-serif;
}

:root{
    --dark-color:#1f1e2c;
    --secondary-dark-color:#28283a;
    --light-dark-color:#2d2d45;
    --light-accent-dark-color:#434369;
    --primary-color:#2cc0ca;
    --secondary-color:#ffffff;
}

html{
    font-size: 6.25%;
}

body{
    font-size: 16rem;
    background-color: var(--secondary-dark-color);
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(210px, 1fr) 5fr;
    grid-template-rows: 2fr 3fr 3fr 3fr;
}

.header{
    background-color: var(--secondary-dark-color);
    margin: 15px 25px 20px 25px;
}

.main{
    background-color: var(--dark-color);
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.sidebar{
    background-color: var(--light-dark-color);
    grid-area: 1 / 1 / -1 / 2;
}

.logo{
    width: 115px;
    margin: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar-icons{
    margin-left: 15px;
}

.sidebar-item{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
    height: 40px;
    font-weight:500;
    font-size: 14rem;
    cursor: pointer;
}

.sidebar-item:hover{
    background-color: var(--light-accent-dark-color) ;
}

.sidebar-item-clicked{
    border-left:solid 6px var(--primary-color);
    background-color: var(--light-accent-dark-color) ;
}

.label1{
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 15px;
    position: absolute;
    left: 25px;
    top: 20px;
}
.label1::after{
    content: 'Your projects';
}

.label2{
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 15px;
    position: absolute;
    right: 457px;
    top: 20px;
}
.label2::after{
    content: 'See all';
}

.label2:hover{
    color: var(--primary-color);
    cursor: pointer;
}

input{
    --webkit-appearance:none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--light-accent-dark-color);
    color: var(--secondary-color);
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding:8px 10px ;
    flex: 1;
}

.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(img/profile.jpeg);
    background-size: contain;
    margin-left: 15px;
}

.circle2{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url(img/profile.jpeg);
    background-size: contain;
    cursor: pointer;
}

.profile-text{
    color: var(--secondary-color);
    margin: 10px;
}

.search-row-container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.bell{
    margin-left: 50px;
}

.pointer{
    cursor: pointer;
}

.profile-greeting{
    display: flex;
    gap: 10px;
    color: var(--secondary-color);
    align-items: center;
}

.greeting{
    font-size: 14rem;
}

.greeting2{
    font-size: 20rem;
    font-weight: bold;
}

.action-button-row{
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;
    align-items: center;
}

.btn{
    width: 90px;
    height: 30px;
    border-radius:20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #2d979e;
}

.action-buttons{
    justify-self: end;
}

.main-content{
    padding: 25px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.card{
    background-color: var(--light-accent-dark-color);
    border-radius: 10px;
    border-left: 11px solid var(--primary-color);
    min-width: 250px;
    padding: 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    cursor: pointer;
    transition: ease-in-out 50ms;
}

.card:hover{
    background-color: var(--primary-color);
}
.card-header{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 16rem;
}

.card-para{
    color: var(--secondary-color);
    font-size: 14rem;
    margin-top: 6px;
}

.card-icons{
    align-self: end;
    justify-self: end;
}

.icons{
    margin: 10px;
    cursor: pointer;
}
